
 h1,h2 {
  text-align: center; 
 }

 h1 {
    font-weight: 800px;

 }

h2 {
    font-weight: normal;
}

p {
    color: white;
}

.strangerthings {
    text-align: left;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.series {
    color: white;
}

.netflix-icon {
    color: white;
}

.container {
    max-width: 1000px;
  background-color: lightcoral;
background-image: url("media/strangerthings.jpg");
      padding-bottom: 120px;
}

.card-1 {
    background-color: transparent;
    border: transparent;
}

.card-2 {
    margin-top: 50px;
    
}

.myListButton {
    background-color: transparent;
    border: transparent;
   backdrop-filter: blur(50px) rgb(167, 165, 165);
}

.playButton {
    background-color: white;
    color: black;
    border: transparent;
   
}